//?################################### CSS RESET #################################################
*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
//?################################### WEATHER STYLING #################################################
.main{
  background-color: #2d3436;
  width: 100vw;
  height: 100vh;
  .container{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    .searchBar{
      text-align: center;
      margin-bottom: 5rem;
      form{
        input{
          width: 300px;
          height: 40px;
          margin-top: 5rem;
          color: #2d3436;
          font-size: 2rem;
          padding: 1rem;
          &:hover{
            background-color: #ffffffe7;
          }
        }
        button{
          height: 39px;
          width: 80px;
          background-color: #00b894;
          outline: none;
          border: none;
          font-size: 2rem;
          &:hover{
            background-color: #00b893d5;
          }
        }
      }
    }
    .weatherBox{
      width: 60vw;
      height: 60vh;
      background-color: #fff;
      border-radius: 3rem;
    }
    .icon{
      
    }
  }
}